@media screen and (max-width: 1600px) {
    .header__title {
        margin-left: 220px;
    }

    .content {
        padding-left: 220px;
        padding-right: 100px;
    }

    .footer {
        padding-left: 220px;
        padding-right: 100px;
    }
}