footer.footer
    .footer__container.container 
        a.footer__link(href="#") 
            img.footer__logo(src="img/logos/logo.svg", alt="Food Logo")
        a.footer__link(href="#") Политика конфиденциальности
        block footer__pays-wrapper
        a.footer__link(href="#") Дизайн d-e-n.ru