.left-bar 
    section.left-bar__section
        a.left-bar__logo-link.logo-link(href="#") 
            img.left-bar__logo.logo(src="img/logos/logo.svg", alt="Logo")
        button.left-bar__open_menu-btn
            img.left-bar__open_menu-icon(src="img/icons/open-menu.svg", alt="Menu") 
    section.left-bar__contacts-section.left-bar__section
        a.left-bar__contact-link(href="#") 
            img.left-bar__contact-icon.contact-icon(src="img/icons/youtube.svg", alt="Youtube")
        a.left-bar__contact-link(href="#") 
            img.left-bar__contact-icon.contact-icon(src="img/icons/vk.svg", alt="VK")
        a.left-bar__contact-link(href="#") 
            img.left-bar__contact-icon.contact-icon(src="img/icons/telegram.svg", alt="Telegram")