nav.menu
    div.menu__section
        a.logo-link(href="#") 
            img.menu__logo.logo(src="img/logos/logo.svg", alt="Logo")
        button.menu__close-btn
            img.menu__close-icon(src="img/icons/close.svg", alt="Close menu")
    
    div.menu__section
        a.menu__page_link(href="#") Меню
        a.menu__page_link(href="#") Доставка
        a.menu__page_link(href="#") Оплата
        button.menu__bookink_table-btn.booking_table-btn Бронь столика

    div.menu__contacts-section.menu__section
        a.menu__contact-link(href="#") 
            img.contact-icon(src="img/icons/youtube.svg", alt="Youtube")
        a.menu__contact-link.lef(href="#") 
            img.contact-icon(src="img/icons/vk.svg", alt="VK")
        a.menu__contact-link(href="#") 
            img.contact-icon(src="img/icons/telegram.svg", alt="Telegram")
        